body {
    padding-left:300px;
    margin:0;
}

#name {
    font-size:300%;
}

#sidebar {
    width:300px;
    background-color:#32B4C5;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    padding:10px 0px;
    box-shadow:-52px 0px 150px -20px rgba(0, 0, 0, 0.35) inset;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/blurduino.jpg');
    background-position: center;
}

#sidebar, #sidebar a {
    color: white;
    text-decoration: none;
}

#content a:hover {
    color:hotPink;
}

#content {
    background-color:white;
    height:100%;
    padding:20px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu li  {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    list-style-type:none;
    font-size:150%;
}

#menu li:hover {
    box-shadow: 0px 0px 70px 10px rgba(255,255,255,.2) inset;
}

#accounts {
    margin: 30px 0px;
}

.fa {
    margin:0px 2px;
}

.fa-square {
    color: transparent;
}

.activeIcon {
    color: rgba(255,255,255,0.5);
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #212233
    clear: both;
}

#content a {
    color: SteelBlue;
}

#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

img {
    width: 50%;
    display:block;
    float:right;
}
