body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#name {
    font-size:250%;
    margin: 0;
    float:left;
}

#banner {
    padding: 10px 3%;
    box-shadow: 0 0 100px -20px rgba(0, 0, 0, 0.15) inset;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/images/noisy_grid.png');
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#banner, #banner a {
    color: #333333;
    text-decoration: none;
}

#content a:hover, #footer a:hover {
    color:hotPink;
    text-decoration: underline;
}

#content {
    background-color:white;
    padding:40px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 105%;
    max-width: 750px;
    margin: auto;
    margin-top: 3em;
    padding: 0 3%;
    flex: 1;
}

#menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li  {
    padding: 0 10px;
    list-style-type:none;
    font-size:150%;
}

#menu li:hover {
    box-shadow: 0px 0px 70px 10px rgba(255,255,255,.9) inset;
}

#name, #menu, #menu li {
    display: inline-block;
}

.fa {
    margin:0px 2px;
}

.fa-square {
    color: transparent;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #212233;
    margin-bottom: 0.5em;
}

.downloadItem img {
    float:right;
    width: 50%;
}

#content .on-hr {
    margin-bottom: 0.1em;
    display: inline-block;
}

#content a, #footer a {
    color: SteelBlue;
    text-decoration: none;
}

#links {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count: 2;
}

hr {
    margin-top: 0;
    margin-bottom: 0.5em;
    border:0;
    border-bottom:1px solid #B0B0B0;
}

.on-hr i {
    float:right;
    position: relative;
    bottom:-.25em;
}

.linkCat {
    display: inline-block;
}

.tile {
    width: 31%;
    margin: 1.5% 0;
    border: 1px solid lightGray;
    border-radius:3px;
    text-align: center;
}

.tile img {
    width: 100%;
    margin: 0;
}

.empty-tile {
    border: none;
}

.tile:hover, .img-step img:hover {
    opacity: 0.7;
}

.tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.img-step:after, .downloadItem:after, .img-wide:after {
    clear:both;
    display:block;
    content:'';
}

.img-step img {
    width: 40%;
    margin-left: 3%;
    float:right;
}

.img-step p {
    padding: .5em 0;
}

.img-step {
    margin: 1em 0.5em 1em 0%;
    padding-left: .7em;
    border-radius: .5em 0 0 .5em;
}

.video-wrapper {
    padding-left: 10%;
    margin: 1.5em 0;
}

img, .img-wide {
    width: 80%;
    margin: auto;
}

.img-wide img {
    width:100%;
}

#footer {
    text-align: center;
    margin-top: 4em;
    padding: 1em 3%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 105%;
    background-color: #eee;
}

#footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

#footer a {
    color: black;
}

.section-head a {
    margin-left: 1em;
}

@media all and (max-width: 630px) {
    #banner {
        justify-content: space-around;
    }
    .tile {
        width:48%;
    }
}