/*test change*/

body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#name {
    font-size:250%;
    margin: 0;
    float:left;
}

#banner {
    padding: 10px 3%;
    box-shadow: 0 0 100px -20px rgba(0, 0, 0, 0.15) inset;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/images/noisy_grid.png');
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#banner, #banner a {
    color: #333333;
    text-decoration: none;
}

a:hover, #footer a:hover {
    color:hotPink;
    text-decoration: underline;
}

#content {
    background-color:white;
    padding:40px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3em;
    max-width: 750px;
    margin: auto;
    margin-top: 2em;
    padding: 0 3%;
    flex: 1;
}

#menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li  {
    padding: 0 10px;
    list-style-type:none;
    font-size:150%;
}

#menu li:hover {
    box-shadow: 0px 0px 70px 10px rgba(255,255,255,.9) inset;
}

#name, #menu, #menu li {
    display: inline-block;
}

.fa {
    margin:0px 2px;
}

.fa-square {
    color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #212233;
    margin-bottom: 0.5em;
}

#post-date {
    color: #444;
    margin: .4em 0;
}

.tag-button {
    margin: 0 .3em;
    padding: 0px 5px;
    border-radius: 2px;
    background-color: #ddd;
    color: black;
}

.tag-button:hover {
    text-decoration: none;
    color: black;
    background-color: #eee;
}

.downloadItem img {
    float:right;
    width: 50%;
}

iframe {
    margin: 1em auto;
    display: block;
}

.on-hr, .shared-head h3 {
    display: inline;
}

.shared-head {
    margin-bottom: 0.3em;
}

a, #footer a {
    color: SteelBlue;
    text-decoration: none;
}

#links {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count: 2;
}

hr {
    margin-top: 0;
    margin-bottom: 0.5em;
    border:0;
    border-bottom:1px solid #B0B0B0;
}

.on-hr i {
    float:right;
    position: relative;
    bottom:-.25em;
}

.linkCat {
    display: inline-block;
}

.tile {
    width: 22%;
    margin: 1.5% 0;
    text-align: center;
}

.tile img {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}

.empty-tile {
    border: none;
}

.tile:hover, .img-step img:hover {
    opacity: 0.7;
}

.tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.img-step:after, .downloadItem:after, .img-wide:after {
    clear:both;
    display:block;
    content:'';
}

.img-step img {
    width: 40%;
    margin-left: 3%;
    float:right;
}

.img-step p {
    padding: .5em 0;
}

.img-step {
    margin: 1em 0.5em 1em 0%;
    padding-left: .7em;
    border-radius: .5em 0 0 .5em;
}

.video-wrapper {
    padding-left: 10%;
    margin: 1.5em 0;
}

.large-image {
    margin: 1em auto;
    max-width: 70%;
    display: block;
    max-height: 450px;
}

.recent-post {
    display: flex;
    align-items: flex-start;
}

.post-thumbnail {
    margin-right: 1em;
    flex: 1 0 0;
}

.post-thumbnail img {
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

.summary-wrapper {
    flex: 3 0 0;
}

#nav {
    display: flex;
    padding-top: 1em;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    min-width: 200px;
}

.gray-out {
    color: #ddd;
}

#footer {
    text-align: center;
    margin-top: 4em;
    padding: 1em 3%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 105%;
    background-color: #eee;
}

#footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

#footer a {
    color: black;
}

.section-head a, .recent-item-date {
    margin-left: 1em;
}

.recent-item-date {
    color: #333;
}

.recent-post {
    margin: 1.3em 0;
}

.post-ul, .page-ul {
    padding: 0 0;
}

.post-ul a, .page-ul a {
    font-size: 130%;
}

.post-ul li, .page-ul li {
    margin: .2em 0;
    list-style-type: none;
}

@media all and (max-width: 630px) {
    #banner {
        justify-content: space-around;
    }
    .tile {
        width: 31%;
    }
    #content {
        margin-top: 1em;
    }
}

@media all and (max-width: 350px) {
    .tile {
        width: 48%;
        min-width: 100px;
    }
}
