<!doctype HTML>
<meta name=viewport content="width=device-width, initial-scale=1">

<html>
    <head>
	<title>Jackie Song | {{ .Title }}</title>
	<meta charset='utf-8'>
    <link   href="/css/style.css" 
            rel="stylesheet" 
            type="text/css" />
    <link   href="/font-awesome-4.6.3/css/font-awesome.min.css" 
            rel="stylesheet" 
            type="text/css" />
    <link   href='http://fonts.googleapis.com/css?family=Open+Sans' 
            rel='stylesheet' 
            type='text/css'>
    <link   href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' 
            rel='stylesheet' 
            type='text/css'>
    </head>
    <body>
        <div id="banner">
            <a href="/"><p id="name">jsong.me</p></a>
            <ul id="menu">
                <li><a href="/">home</a></li>              
                <li><a href="/about">about</a></li>
                <li><a href="/resources">resources</a></li>           
            </ul>
        </div>
        <div id="content">
        