{{ partial "header" . }}
<div class="section-head">
    <h1 class="on-hr">Recent posts</h1>
    <a href="/post">See all</a>
</div>
<div class="recent">
{{ range first 5 (where .Data.Pages "Section" "post") }}
{{ .Render "summary" }}
{{ end }}
</div>

<br/><br/>
<div class="section-head">
    <h1 class="on-hr">Past Projects</h1>
    <a href="/project">See all</a>
</div>
<div class="projects">
    <div class="tile-wrapper">
{{ range first 8 (shuffle (where .Data.Pages "Section" "project")) -}}
{{ .Render "tile" }}
{{- end }}
</div>
{{ partial "footer" . }}
