{{ partial "header" . }}
<h1>Recent posts</h1>
<div class="recent">
    {{ range where .Data.Pages "Section" "post" }}
    <article class="recent-item">
        <h3><a href="{{ .Permalink }}" class="recent-item-link">{{ .Title }}</a></h3>
        <span class="recent-item-date">
        {{ .Date.Format "January 2, 2006" }}
        </span>
        <div>
            {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
            <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
            Read more
            <span class="icon is-small">
                <i class="fa fa-angle-double-right"></i>
            </span>
            </a>
            {{ end }}
        </div>
    </article>
    {{ end }}
</div>

<h1>Projects</h1>
<div class="projects"></div>
{{ partial "footer" . }}
