{% assign jackieData = site.data.jackie %}
{% assign menuData = site.data.menu %}

<!doctype HTML>

<html>
	<head>
		<title>Jackie Song | {{ page.title }}</title>
		<meta charset='utf-8'>
        <link   href="/css/style.css" 
                rel="stylesheet" 
                type="text/css" />
        <link   href="/font-awesome-4.2.0/css/font-awesome.min.css" 
                rel="stylesheet" 
                type="text/css" />
        <link   href='http://fonts.googleapis.com/css?family=Open+Sans' 
                rel='stylesheet' 
                type='text/css'>
        <link   href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' 
                rel='stylesheet' 
                type='text/css'>
	</head>
    <body>
        <div id="sidebar">
            <a href="/"><p id="name">Jackie Song</p></a> 
            <div id="accounts">
                {% for account in jackieData.accounts %}
                {% if account.icon != null %}
                    <a href="{{ account.url }}" title="{{ account.site }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa {{ account.icon }} fa-stack-2x account"></i>
                        </span>
                    </a>
                {% endif %}
                {% endfor %}
            </div>
            <ul id="menu">
                {% for item in menuData %}
                        <a href="{{ item[1].folder }}">
                            <li> {{ item[0] | downcase }} </li>
                        </a>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            <h1> {{ page.title }} </h1>
            {% if page.image-layout == true %}
                {% for segment in page.segments %}
                    {% if segment.image %}
                        <div class="img-step">
                            <a href="{{ page.image-dir }}/{{ segment.image }}">
                                <img src="{{ page.image-dir }}/{{ segment.image }}">
                            </a>
                            <p>{{ segment.text }}</p>
                        </div>
                    {% elsif segment.video %}
                        <div class="video-wrapper">
                            {{ segment.video }}
                        </div>
                    {% else %}
                        <p>{{ segment.text }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
 		    {{ content }}
        </div>
        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/youtube-resize.js"></script>
        <script> 
            $(document).ready(function() {
                console.log('test.');
                $('.account').hover( function() {
                    $(this).siblings().toggleClass('activeIcon');
                });
            });
        </script>
	</body>
</html>

